/* Global */

:root {
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #f9fbfc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

body {
  background-color: var(--page-background);
}

/* Header */

header div,
main {
  max-width: 69.0625rem;
  margin: 0 auto;
}

header {
  background-color: var(--blue);

  height: 28.125rem;
  text-align: center;
}

header div {
  padding-top: 6.25rem;
}

header div h1 {
  font-size: 2.5625rem;
  font-weight: bold;

  color: #fff;
}

header div p {
  font-size: 1.125rem;
  font-weight: lighter;
  color: #fff;

  margin-top: 1.25rem;
}

/* Main */

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--gray);
}

main section {
  background-color: #fff;
  margin-top: -10rem;

  width: 22.1875rem;
  height: 29.375rem;

  border-radius: 0.9375rem;
  box-shadow: 0.03125rem 0.03125rem 0.03125rem 0.03125rem;
  position: relative;
}

main section#Emphasis {
  margin-top: -10.625rem;
}

main section:nth-child(2) {
  height: 30.625rem;
}

main section .value,
main section ul,
main section ul p {
  padding-left: 1.875rem;
}

main section h2 {
  padding: 1.875rem 0 1.25rem 1.875rem;
  font-size: 1.125rem;
  color: #000;
}

.subtitle {
  padding: 0.625rem 0 1.25rem 1.875rem;
  font-size: 0.875rem;
}

.value {
  display: flex;
}

.value p:nth-child(1) {
  font-size: 2.375rem;
  font-weight: bold;
  color: #1e2338;

  align-self: baseline;
}

.value p:nth-child(2) {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1e2338;

  align-self: baseline;
}

.value p:nth-child(3) {
  font-size: 1.125rem;
  align-self: baseline;
}

.line {
  content: '2';
  background-color: #eee;
  height: 0.0625rem;
  width: 80%;
  margin: 1.25rem auto;
}

main section li {
  display: flex;
}

.button {
  position: absolute;

  width: 100%;
  margin: 0 auto;

  background-color: #fff;
  border: none;

  bottom: 1.25rem;
}

.button p {
  width: 80%;
  margin: 0 auto;
  padding: 0.75rem 0;

  font-size: 1.25rem;
  font-weight: bold;

  border: 0.0625rem solid var(--blue);
  border-radius: 0.625rem;
}

#Emphasis div:first-child {
  background: var(--yellow);
  margin-bottom: 0.625rem;

  border-radius: 0.9375rem 0.9375rem 0 0;
}

#common {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

#common div {
  margin-right: 1.875rem;

  padding: 0.5rem 1.5rem;
  border-radius: 0.9375rem;

  color: #fff;

  background: var(--blue);
}

#Emphasis h2 {
  color: var(--blue);
}

#Emphasis .button p {
  background: var(--blue);
  color: #fff;
}

#Emphasis .button p:hover,
.button p:hover {
  background: blue;
  color: #fff;
  cursor: pointer;
}

/* Responsabilidade */

@media (max-width: 67.5rem) {
  main {
    justify-content: space-around;
  }

  header div {
    padding-top: 4.125rem;
  }

  main section#Emphasis {
    margin: 1.25rem auto 1.875rem auto;
  }

  main section:nth-child(1) {
    order: 1;
  }

  main section:nth-child(2) {
    order: 3;
  }

  main section:nth-child(3) {
    order: 2;
  }
}

@media (max-width: 45.3125rem) {
  main {
    width: 95%;
  }

  main section:nth-child(1) {
    order: 1;
  }

  main section:nth-child(2) {
    order: 2;
  }

  main section:nth-child(3) {
    order: 3;
  }

  main section:nth-child(1) {
    margin-bottom: 1.25rem;
  }

  main section:nth-child(3) {
    margin: 1.25rem auto 1.875rem auto;
  }
}

@media (max-width: 20.9375rem) {
  header {
    height: 24.5rem;
  }

  header div {
    padding-top: 3.125rem;
  }

  header div h1 {
    font-size: 1.875rem;
  }

  main section:nth-child(1) {
    margin-top: -4.375rem;
  }

  #common {
    justify-content: space-around;
  }

  #common div {
    margin-right: 0;
    margin-bottom: 0.625rem;
  }

  main section p,
  main section ul,
  main section ul p,
  main section h2,
  main section .value,
  .subtitle {
    padding-left: 0rem;
  }

  main section,
  main section#Emphasis {
    height: 39.375rem;
  }

  main section ul,
  .subtitle,
  main section h2 {
    text-align: center;
  }

  .value {
    justify-content: center;
  }

  main section li {
    display: block;
  }

  .value p:nth-child(1) {
    font-size: 1.25rem;
  }

  .value p:nth-child(2) {
    font-size: 1.25rem;
  }

  .value p:nth-child(3) {
    font-size: 1.125rem;
  }
}
